# Data Structures and Sequences

## Tuples

In [54]:
a = (1,2,3)
a

(1, 2, 3)

Tuples are inmutable, means that once created we cannot modify them

In [55]:
a[0] = 0

TypeError: 'tuple' object does not support item assignment

Variables are just names of objects. Here a and b are two different names for the same object

In [56]:
b = a
b

(1, 2, 3)

In [57]:
b is a

True

Here b is a different object that is identical to the object named a

In [58]:
b = list(a)
b = tuple(b)

TypeError: 'tuple' object is not callable

In [16]:
b is a

False

In [17]:
b == a

True

We can convert sequence and iterators to tuples

In [6]:
tuple([1,2,3])

(1, 2, 3)

In [7]:
tuple("FGHKJL")

('F', 'G', 'H', 'K', 'J', 'L')

We can acces values of tuples using square brackets

In [6]:
a = (1,2,(3,4,5))
a[2]

(3, 4, 5)

In [7]:
a[2][0]

3

We can sum tuples

In [14]:
a = (1, 2, (3,4,5), "A", True)
b = (6, 7, (8,9,10), "B", False)

In [15]:
a + b

(1, 2, (3, 4, 5), 'A', True, 6, 7, (8, 9, 10), 'B', False)

We can repeat the values of the tuple and get a larger tuple

In [16]:
a = (1, 2, (3, 4, 5))

In [17]:
a*3

(1, 2, (3, 4, 5), 1, 2, (3, 4, 5), 1, 2, (3, 4, 5))

We can unpack the values of the tuples

In [27]:
tup = (1, 2, (3, 4, 5))
a, b, (c, d, f) = tup
tup

(1, 2, (3, 4, 5))

In [28]:
f

5

We can swap variables

In [32]:
a, b = 1, 2

In [33]:
a

1

In [34]:
b

2

In [35]:
a, b = b, a

In [36]:
a

2

In [37]:
b

1

We can save the n next values of a tuple inside a single variable

In [38]:
values = 1, 2, 3, 4, 5
a, b, *rest = values

In [39]:
rest

[3, 4, 5]

We can also discard the next n values of a tuple

In [40]:
values = 1, 2, 3, 4, 5
a, b, *_ = values

We can count the number of repeated values

In [41]:
a = (1, 2, 2, 3, 3, 3)

In [42]:
a.count(3)

3

## List

List are mutable, we can modify them. Tuples can't be modified

In [1]:
a_list = [1, (2,3), None, True]
a_list

[1, (2, 3), None, True]

In [2]:
a_list[1] = "A"
a_list

[1, 'A', None, True]

We can convert sequence and iterators to lists

In [3]:
a = "A,B,C"
list(a)

['A', ',', 'B', ',', 'C']

In [5]:
tup = ("foo", "bar", "baz")
list(tup)

['foo', 'bar', 'baz']

### Adding and removing elements

We can append elemts to the end of a list

In [6]:
b_list = ["A", "B", "C"]

In [7]:
b_list.append("D")
b_list

['A', 'B', 'C', 'D']

We can insert elements in a specific part of a list

In [9]:
b_list.insert(1, 13)
b_list

['A', 13, 13, 'B', 'C', 'D']

We can remove any element of a list given their index

In [10]:
b_list.pop()

'D'

In [11]:
b_list.pop(1)

13

In [12]:
b_list

['A', 13, 'B', 'C']

We can also remove elemts from a list using their value

In [13]:
b_list.remove("A")

In [14]:
b_list

[13, 'B', 'C']

We can ask if an element is in the list

In [15]:
13 in b_list

True

### Concatenating and removing

We can concatenate lists

In [16]:
a_list = ["A", 1]
b_list = ["B", 2]

a_list + b_list

['A', 1, 'B', 2]

We can also extend an existing list, its like appending multiple elements

In [17]:
a_list.extend(["B", 2])
a_list

['A', 1, 'B', 2]

### Sorting

We can sort elements of a list

In [18]:
a_list = [5,3,7,9,4,1]

In [20]:
a_list.sort()
a_list

[1, 3, 4, 5, 7, 9]

We can also sort strings by length

In [21]:
a_list = ["BCD", "BCDEF", "A", "AB"]
a_list.sort(key=len)

In [22]:
a_list

['A', 'AB', 'BCD', 'BCDEF']

### Slicing

We can select sections of lists

In [57]:
seq = list("HELLO:)")
seq[0:5]

['H', 'E', 'L', 'L', 'O']

In [33]:
seq[:5]

['H', 'E', 'L', 'L', 'O']

In [39]:
seq[5:]

[':', ')']

In [40]:
seq[-2:]

[':', ')']

In [42]:
seq[-7:-2]

['H', 'E', 'L', 'L', 'O']

We can skip one elements

In [53]:
seq[::2]

['H', 'L', 'O', ')']

We can reverse a sequence

In [55]:
seq[::-1]

[')', ':', 'O', 'L', 'L', 'E', 'H']

We can modify sections of lists

In [58]:
seq[2:5] = list("ABC")
seq

['H', 'E', 'A', 'B', 'C', ':', ')']

## Dictionary

In [68]:
d1 = {"a":"ABC", "b":(1,2,3)}
d1

{'a': 'ABC', 'b': (1, 2, 3)}

In [70]:
d1["a"]

'ABC'

In [71]:
"b" in d1

True

We can modify dictionaries

In [69]:
d1[1] = list("ABC")
d1

{'a': 'ABC', 'b': (1, 2, 3), 1: ['A', 'B', 'C']}

We can delete elements of dictionaries

In [73]:
d1[2] = 3742
d1["c"] = 42.42
d1

{'a': 'ABC', 'b': (1, 2, 3), 1: ['A', 'B', 'C'], 2: 3742, 'c': 42.42}

In [74]:
del d1["c"]

In [75]:
d1

{'a': 'ABC', 'b': (1, 2, 3), 1: ['A', 'B', 'C'], 2: 3742}

In [78]:
d1.pop(2)

3742

In [79]:
d1

{'a': 'ABC', 'b': (1, 2, 3), 1: ['A', 'B', 'C']}

We can get the keys

In [82]:
list(d1.keys())

['a', 'b', 1]

We can get the values

In [83]:
list(d1.values())

['ABC', (1, 2, 3), ['A', 'B', 'C']]

We can geet both the keys and values

In [84]:
list(d1.items())

[('a', 'ABC'), ('b', (1, 2, 3)), (1, ['A', 'B', 'C'])]

We can merge (update) dictionares

In [85]:
d1.update({"a":"XYZ", 2:list("XYZ")})

In [86]:
d1

{'a': 'XYZ', 'b': (1, 2, 3), 1: ['A', 'B', 'C'], 2: ['X', 'Y', 'Z']}

### Creating dictionaries from sequences

In [90]:
tups = zip(("A","B","C"),(1,2,3))

In [91]:
dict(tups)

{'A': 1, 'B': 2, 'C': 3}

### Default values

In [95]:
d1.get(2, default_value)

NameError: name 'default_value' is not defined